.hospital-module-wrapper {
    display: flex;
    gap: 3rem;
    .list{
        width: 40vw;
        .ant-list-item{
            &:hover{
                cursor: pointer;
                // background: rgb(255, 255, 255);
            }
        }
        
    }
}
.line-chart{
    text-align: end;
    margin-top: 2rem;
    width: 40vw;
}