
.card-wrapper{
    width: 15rem !important;
    border-radius: 10px !important;
    margin: 10px 0 !important;
    .ant-card-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        h5{
            margin-bottom: 1rem;
            font-size: 14px;
            font-weight: bold;
        }
        aside{
            margin: 2px 0;
        }
    }
}

.profit{
    color: $blue;
}
.loss{
    color: $red;
}